.u-block-fc40-2 {
  position: absolute;
  top: auto;
  bottom: 12px;
}

.u-block-fc40-3 {
  width: 46px;
  height: 46px;
  left: calc(((100% - 1140px) / 2)  + -85px);
  top: 338px;
  position: absolute;
  right: auto;
  padding: 12px;
}

.u-block-fc40-4 {
  width: 46px;
  height: 46px;
  left: auto;
  top: 338px;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + -85px);
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-block-fc40-3 {
    left: calc(((100% - 940px) / 2)  + -70px);
  }

  .u-block-fc40-4 {
    right: calc(((100% - 940px) / 2)  + -70px);
  }
}

@media (max-width: 991px) {
  .u-block-fc40-3 {
    left: calc(((100% - 720px) / 2)  + -54px);
  }

  .u-block-fc40-4 {
    right: calc(((100% - 720px) / 2)  + -54px);
  }
}

@media (max-width: 767px) {
  .u-block-fc40-3 {
    left: calc(((100% - 540px) / 2)  + -40px);
  }

  .u-block-fc40-4 {
    right: calc(((100% - 540px) / 2)  + -40px);
  }
}

@media (max-width: 575px) {
  .u-block-fc40-2 {
    left: calc(((100% - 340px) / 2)  + -21px);
    right: auto;
    bottom: 108px;
  }

  .u-block-fc40-3 {
    left: calc(((100% - 340px) / 2)  + -25px);
    top: 309px;
  }

  .u-block-fc40-4 {
    top: 309px;
    right: calc(((100% - 340px) / 2)  + -25px);
  }
}

 .u-section-1-1 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-1 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-1 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-2 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-2 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-2 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-3 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-3 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-3 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-4 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-4 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-4 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-4 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-4 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-5 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-5 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-5 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-5 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-5 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-6 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-6 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-6 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-6 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-6 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-7 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-7 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-7 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-7 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-7 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-8 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-8 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-8 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-8 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-8 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-8 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-9 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-9 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-9 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-9 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-9 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-9 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-10 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-10 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-10 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-10 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-10 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-10 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-11 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-11 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-11 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-11 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-11 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-11 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-12 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-12 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-12 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-12 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-12 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-12 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-13 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-13 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-13 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-13 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-13 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-13 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-13 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-13 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-13 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-14 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-14 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-14 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-14 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-14 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-14 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-14 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-14 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-14 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-15 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-15 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-15 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-15 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-15 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-15 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-15 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-15 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-15 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-16 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-16 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-16 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-16 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-16 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-16 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-16 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-16 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-16 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-17 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-17 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-17 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-17 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-17 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-17 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-17 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-17 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-17 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-18 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-18 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-18 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-18 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-18 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-18 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-18 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-18 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-18 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-19 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-19 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1-19 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 575px) {
   .u-section-1-19 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-19 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-19 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-20 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-20 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-20 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-20 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-20 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-20 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-20 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-20 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-20 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-21 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-21 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-21 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-21 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-21 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-21 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-21 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-21 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-21 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-22 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-22 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-22 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-22 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-22 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-22 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-22 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-22 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-22 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-23 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-23 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-23 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-23 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-23 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-23 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-23 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-23 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-23 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-24 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-24 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-24 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-24 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-24 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-24 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-24 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-24 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-24 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-25 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-25 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-25 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-25 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-25 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-25 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-25 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-25 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-25 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-26 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-26 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-26 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-26 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-26 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-26 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-26 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-26 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-26 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}

 .u-section-1-27 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1-27 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1-27 .u-image-1 {
  width: 329px;
  height: 300px;
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-27 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
  .u-section-1-27 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1-27 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-1-27 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-1-27 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-27 .u-image-1 {
    width: 438px;
    height: 381px;
    margin: 145px -49px 60px;
  }
}.footer-class {
    height: 100vh;
    overflow: hidden; /* This will crop content that overflows */
}